
  <p><%= f.label :title %></p>
  <%= f.text_field :title %><br />

  <p><%= f.label :body %></p>
	<%= f.text_area :body, :class => "tinymce", :rows => 40, :cols => 120 %>
  <%= tinymce %><br />
 
  <p><%= f.submit "Save" %></p>