<style>
.container-fluid a{
  text-decoration:none;
  color: grey;
}
    body {
  width: 100%;
  height: 100%;
  background: url(http://www.1366x768.net/large/201201/7747.jpg) repeat fixed;
}

</style>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to "Blog", root_path, class: "navbar-brand" %>
    <%= link_to "Galery", photos_path, class: "navbar-brand" %>
    <%= link_to "Multi Galery", images_path, class: "navbar-brand" %>
    </div>
   

    <ul class="nav navbar-nav navbar-right">
    <% if current_user.nil? %>
    <li>
    <%= link_to user_session_path do %>
      <i class="glyphicon glyphicon-user"></i> Login
      <%end%>
      </li>
      <% else %> 
      <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="glyphicon glyphicon-log-in"></i> Logout
  <%end%>
      </li>
       <% end %>
    </ul>
  </div>
</nav>

